*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-attachment: scroll;
    
}
body{
    background-image: url(clem-onojeghuo-zlABb6Gke24-unsplash.jpg);
    background-size: cover;
    color: rgb(245, 245, 220);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    
   
}
 
nav{
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem calc((100vw - 1300px) / 2);
    position: sticky;
    top: 0%;
}


.logo{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
    text-align: left;
    position: sticky;
    top: 0px;
    color: rgb(255, 174, 127);  
     
}

nav a{ 
    text-decoration: none;
    padding: 0rem 1.5rem;
    float: left;
    color: rgb(245, 245, 220);
    
}

nav a:hover{
    background-color: #f0e68c;
    border-radius: 10px;
    border-top: #3e0101 solid 2px;
}

.breakfast-section h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 4rem;
}
.breakfast-section p{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem; 
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.breakfast-section p2{
    padding-left: 1rem;
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
h2{
    font-size: 1.5rem;
    margin-top: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 7rem;
    padding-bottom: 0%;
}
.order{
    background-color: #3e0101;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
}

button:hover{
    background-color: #f0e68c;
    color: #bc1212bb;
    border: 2px solid #3e0101;
}
