*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-attachment: scroll;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    color: rgb(245, 245, 220);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;    

}
body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #fff9f3;
      color: #333;
}
nav{
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem calc((100vw - 1300px) / 2);
    top: 0%;
       
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
    text-align: left;
    top: 0px;
    color: rgb(255, 174, 127);   
}

nav a{ 
    text-decoration: none;
    padding: 0rem 1.5rem;
    float: left;
    color: rgb(245, 245, 220); 
}

nav a:hover{
    background-color: rgb(245, 245, 220);
    border-radius: 10px;
    border-top: #3e0101 solid 2px;
}

h1{
      font-size: 2.5rem;
      margin-bottom: 1rem;
      text-align: center;
      padding-top: 2rem;
      color: rgb(245, 245, 220);
} 
h2 {
      color: #b75e20;
}
h3{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.menu-section {
      margin-bottom: 20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      padding: 6px 0;
      
    }
.menu-item {
      display: flex;
      justify-content: space-between;
      padding: 6px 0;
      border-bottom: 1px;
      font-size: 17px;
}

h5{
    font-size: 0.8rem;
    text-align: justify;
    margin-top: 1pc;
}